# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyQt6 UI files (if you generate .py from .ui)
*.pyc
*.pyo

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

documents/
doc_taining/