annotated-doc
annotated-types
anthropic
anyio
async-generator
attrs
beautifulsoup4
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
deprecation
distro
docstring_parser
docxtpl
fastapi
fsspec
groq
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
Jinja2
jiter
jmespath
librt
lxml
markdown-it-py
MarkupSafe
mdurl
mmh3
multidict
mypy
mypy_extensions
numpy
openai
opencv-python-headless
outcome
packaging
pathspec
pillow
postgrest
propcache
pycparser
pydantic
pydantic_core
Pygments
pyiceberg
PyJWT
PyMuPDF
pyparsing
pyroaring
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
python-multipart
realtime
requests
rich
s3transfer
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
starlette
storage3
StrEnum
strictyaml
supabase
supabase-auth
supabase-functions
tenacity
tqdm
trio
trio-typing
trio-websocket
types-certifi
types-urllib3
typing-inspection
typing_extensions
urllib3
uvicorn
websocket-client
websockets
wsproto
yarl
zipp
