fastapi
uvicorn
supabase
python-dotenv
python-multipart
requests
beautifulsoup4
anthropic
groq
httpx
pydantic
python-docx
PyMuPDF
docxtpl
pytesseract
undetected_chromedriver
setuptools
gunicorn
json_repair
openai
opencv-python
